.banner {
    position: relative;
    min-height: 653px;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
}


.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/banner/background.png');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 1;
    background-repeat: no-repeat;
}

.banner-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.banner-item {
    max-width: 486px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.banner-item .title {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 50px;
    max-width: 507px;
    line-height: 60px;
    text-align: center;
}


.banner-item .description {
    line-height: 26px;
    font-size: 16px;
    padding: 2em 0;
    max-width: 482px;
    display: none;
}


.banner-item .image-content {
    width: 90vw;
    height: 90vw;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2em;
    max-width: 486px;
    max-height: 524px;
}

.banner-item .image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 286px;
}


.banner-buttons {
    margin: 30px auto 60px;
    max-width: 300px;
}

.banner-buttons-slider {
    max-width: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
    margin: 0 auto;
}



@media screen and (min-width: 1024px) {
    .banner-item .title {
        font-size: 60px;
        text-align: left;
    }

    .banner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-item .description {
        display: block;
    }

    .banner-item {
        max-width: 1100px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .banner-item .image-content {
        width: 486px;
        height: 510px;
    }

    .banner-item .image-content img {
        min-width: 486px;
    }

    .banner-information {
        padding-right: 1em;
    }

    .banner-buttons {
        max-width: 430px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        margin-left: 0;
    }

    .banner-buttons-slider {
        margin: 0;
    }
}
