.button {
    padding: 1em 2em;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

.button:hover {
    cursor: pointer;
}

.button path {
    stroke: var(--primary-color);
    fill: var(--primary-color);
}


.button--primary {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.button--primary path {
    stroke: white;
    fill: white;
}

.button-small {
    padding: .4em 1em;
    display: flex;
    width: auto;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.inverse {
    transform: rotateY(180deg);
}

.button-dinamic {
    color: black;
    border: none;
    justify-content: center;
}

.button-dinamic path {
    display: none;
}


@media screen and (min-width: 1024px) {
    .button {
        font-size: 13px;
        color: var(--primary-color);
    }

    .button-dinamic {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--primary-color);
    }

    .button-dinamic path {
        display: block;
    }

    .button--primary {
        color: white;
    }
}
