.header__promotion {
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 5px 0;
    margin-bottom: 1em;
}

.plp-title {
    color: #7AA65A94;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    margin: 2em 0 1em;
}

.page-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}


.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    max-width: 350px;
    margin: 1em auto;
    margin-bottom: 100px;
}

.products .card {
    max-width: 223px;
    height: 300px;
}


@media screen and (min-width: 1024px) {
    .products {
        max-width: 850px;
        grid-template-columns: repeat(4, 1fr);
    }
}
